### Pools
| Pair | Uniswap Pool | Binance Spot 
| -----|--------------|----------------
| ETH/USDT|https://info.uniswap.org/#/pools/0x11b815efb8f581194ae79006d24e0d814b7697f6|https://www.binance.com/en/trade/ETH_USDT
| WBTC/USDT|https://info.uniswap.org/#/pools/0x9db9e0e53058c89e5b94e29621a205198648425b|https://www.binance.com/en/trade/BTC_USDT
| UNI/USDC |https://info.uniswap.org/#/pools/0xd0fc8ba7e267f2bc56044a7715a489d851dc6d78|https://www.binance.com/en/trade/UNI_USDT



APIs: Binance: https://binance-docs.github.io/apidocs/spot/en/#kline-candlestick-data

Web3: https://web3py.readthedocs.io/en/stable/web3.eth.html#web3.eth.Eth.get_logs

In [ ]:
import pandas as pd

# Get Binance Data

###

In [ ]:
import pandas as pd
import requests
from datetime import datetime
from dateutil import tz

BASE_API_URL = 'https://api.binance.com/api/v3/klines'
START_TIME = datetime(2022, 1, 1, 0, 0, 0, tzinfo=tz.tzutc())
END_TIME = datetime(2022, 1, 31, 23, 59, 59, tzinfo=tz.tzutc())
SYMBOL = "BTCUSDT"

session = requests.Session()

def toValidTimestamp(date):
    return int(date.timestamp() * 1000)

def getBDataFromTo(fromTime, untilTime, symbol, interval):
  '''
  Returs a dataframe
  
  '''
  last_start_time = fromTime

  dict_list = []

  while (last_start_time < untilTime):
    r = session.get(f'{BASE_API_URL}?symbol={symbol}&interval={interval}&startTime={last_start_time}')
    j = r.json()
    for index, item in enumerate(j):
      time = item[0]
      if (index == len(j)-1):
        last_start_time = time
        print(f'New start time: {last_start_time}')
      new_row = {'time': pd.Timestamp(time, unit='ms'), 'open': float(item[1]), 'high': float(item[2]), 'low': float(item[3]), 'close': float(item[4]), 'volume': float(item[5])}
      dict_list.append(new_row)
  
  df = pd.DataFrame(dict_list)
  df['time'] = pd.to_datetime(df['time'])
  df[['open', 'high', 'low', 'close', 'volume']] = df[['open', 'high', 'low', 'close', 'volume']].astype(float)
  df.set_index('time', inplace=True)

  return df


df_r = getBDataFromTo(toValidTimestamp(START_TIME), toValidTimestamp(END_TIME), SYMBOL, "1m")
df_r.info()
df_r.head(5)
df_r.to_pickle(f'./{START_TIME}-{END_TIME}-{SYMBOL}.pkl')

{'code': 0, 'msg': "Service unavailable from a restricted location according to 'b. Eligibility' in https://www.binance.com/en/terms. Please contact customer service if you believe you received this message in error."}
code

ValueError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

df = pd.read_pickle("/content/drive/MyDrive/TU/2022-01-01 00:00:00+00:00-2022-01-31 23:59:59+00:00-BTCUSDT.pkl")
df.head(100)

                         open      high       low     close    volume
time
2022-01-01 00:00:00  46216.93  46271.08  46208.37  46250.00  40.57574
2022-01-01 00:01:00  46250.00  46344.23  46234.39  46312.76  42.38106
2022-01-01 00:02:00  46312.76  46381.69  46292.75  46368.73  51.29955
2022-01-01 00:03:00  46368.73  46391.49  46314.26  46331.08  30.45894
2022-01-01 00:04:00  46331.07  46336.10  46300.00  46321.34  20.96029
...                       ...       ...       ...       ...       ...
2022-01-01 01:35:00  46845.06  46874.57  46845.00  46859.38   9.98086
2022-01-01 01:36:00  46859.37  46884.63  46857.53  46873.91  10.17456
2022-01-01 01:37:00  46873.90  46873.91  46840.21  46840.94  10.80765
2022-01-01 01:38:00  46840.94  46854.39  46784.38  46789.23  18.42650
2022-01-01 01:39:00  46789.23  46811.33  46753.84  46799.90  12.48485

[100 rows x 5 columns]