In [17]:
import pandas as pd

df_weth = pd.read_pickle(f'../datasets/dex_WETH_USDT_2022_allblocks.pkl')
df_shib = pd.read_pickle(f'../datasets/dex_SHIB_ETH_2022_allblocks.pkl')

df_shib.head(500)

                       number         price
datetime
2022-01-01 00:00:03  13916166           NaN
2022-01-01 00:00:09  13916167           NaN
2022-01-01 00:00:12  13916168           NaN
2022-01-01 00:00:20  13916169           NaN
2022-01-01 00:00:55  13916170           NaN
...                       ...           ...
2022-01-01 01:49:44  13916661  1.722178e-11
2022-01-01 01:49:56  13916662  1.722178e-11
2022-01-01 01:50:12  13916663  1.722178e-11
2022-01-01 01:50:25  13916664  1.722178e-11
2022-01-01 01:50:53  13916665  1.722178e-11

[500 rows x 2 columns]

In [18]:
df_shib.index.duplicated()

array([False, False, False, ..., False, False, False])

In [19]:
df_shib = df_shib[~df_shib.index.duplicated()]
df_weth = df_weth[~df_weth.index.duplicated()]
df_shib['price'] = df_shib['price'] * df_weth['price']

df_shib.head(500)
df_shib.to_pickle(f'../datasets/dex_SHIB_USDT_2022_allblocks.pkl')